/* HTML options
----------------------------------------------------------------------*/
#portfolio ul li {
  text-align: left;
}

/* Section options
----------------------------------------------------------------------*/
section .spotlight {
  text-align: left;
}

section .spotlight.odd {
  background-color: rgb(230, 230, 230);
  padding: 2em;
  margin: 0px;
  /* color: #ffffff; */
}

section .spotlight.even {
  background-color: rgb(240, 240, 240);
  padding: 2em;
  margin: 0px;
  /* color: #000000; */
}

/* Custom div options
----------------------------------------------------------------------*/
div .overlay {
  background-color: black;
  opacity: 0.9;
  padding: 2em;
  border-radius: 25px;
}

div.overlay header, footer {
  opacity: 1;
}

/* Accordion
----------------------------------------------------------------------*/
.accordion {
  background-color: rgb(250, 250, 250);
  opacity: 0.9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  /* border: 1px dotted #444; */
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(225, 225, 225);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #f5fafa;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Anchor tags for contact links
----------------------------------------------------------------------*/
a .contact-anchor {
  transition-delay: 0s;
}